<html>
<head>
<body bgcolor=black>
<center>
<h1 style="color:red;font-size:40px;"> Hello EveryOne...</h1>
<h1 style="color:red;font-size:40px;"> This Page from {{ ansible_facts['distribution'] }} !! </h1>
</center>
</body>
</head>
</html>